<% include includes/header %>
    <body>
        <div class="flex-center position-ref full-height">
            <div class="content">
                <div class="title m-b-md">
                    Test Node.js by shieldfy
                </div>

                <div class="links">
                    <a href="/xss">XSS</a>
                    <a href="/sqli">SQLI</a>
                    <a href="/nosqli">NOSQLI</a>
                    <a href="/lfi">LFI</a>
                    <a href="/rce">RCE</a>
                    <a href="/buffer">BUFFER</a>
                    <a href="/ssrf">SSRF</a>
                </div>
            </div>
        </div>
    </body>
<% include includes/footer %>