<% include ../includes/header %>
<body>
    <div class="flex-center position-ref full-height">
        <div class="content">
            <div class="title m-b-md">
                <a href="/lfi/attack?file=../lfi/attack">attack</a>
            </div>
        </div>
    </div>
</body>
<% include ../includes/footer %>