<% include ../includes/header %>
<body>
    <div class="flex-center position-ref full-height">
        <div class="content">
            <div class="title m-b-md">
                <a href='/nosqli/attack?id=%7B%22%24ne%22%3A%22bar%22%7D'>Select a post</a>
            </div>
        </div>
    </div>
</body>
<% include ../includes/footer %>