<% include ../includes/header %>
<body>
    <div class="flex-center position-ref full-height">
        <div class="content">
            <div class="title m-b-md">
                <a href="/ssrf/attack?url=http://localhost:3000/">Send Vulnerable Request</a>
            </div>
        </div>
    </div>
</body>
<% include ../includes/footer %>